# Root
*.db*
*.log
core*
*.conf
*user*
cloud
onboarding
person
notes

# .storage
auth*
.core*

# Ignore folders.
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml